{{ include ('SiteElements/menu.php.twig') }}
<main class="page contact-page">
    <section class="portfolio-block contact">
        <div class="container">
            <div class="heading">
                <h2>REJESTRACJA</h2>
            </div>
                        {{ form_start(register_form) }}
                        {{ form_end(register_form) }}
        </div>
    </section>
</main>


{{ include ('SiteElements/footer.php.twig') }}
