{{ include ('SiteElements/menu.php.twig') }}
<main class="page cv-page">
    <section class="portfolio-block block-intro border-bottom">
        <div class="container">
            <div class="avatar" style="background-image: url(&quot;../assets/img/Black%20Monoline%20Real%20Estate%20Logo.png&quot;);width: 300px;height: 200px;filter: blur(0px) brightness(100%);"></div>
            <div class="about-me">
                <p>Witaj! Jesteśmy biurem nieruchomości które pomoże Ci znaleźć twój wymarzony dom lub mieszkanie!</p><a class="btn btn-outline-primary" role="button" href="rejestracja.html">Zarejestruj się</a></div>
        </div>
    </section>
</main>
{{ include ('SiteElements/footer.php.twig') }}